.container {
  @apply relative;
  @apply p-0;
}
.bgImage {
  @apply z-0;
  @apply absolute;
  background: url('/barron_falls_background.png');
  @apply bg-cover;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  filter: blur(40px);
}

.description {
  max-width: 50rem;
  @apply text-4xl;
  @apply text-white;
}

.main {
  @apply flex flex-col justify-center items-center;
  @apply px-8 gap-8;
  @apply z-10;
  min-height: 100vh;
}

.imageContainer {
  max-width: 50rem;
}